/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}
/* END RESET */


/* Behaviour */
html {
    scroll-behavior: smooth;
}

.menu {
    grid-area: globalmenu;
    background-color: #75C6AB;

}


/* Styling */
body {
    background-image: url(big%20boy%20paws1.png);
    margin-left: 2em;
    margin-right: 2em;
}

header {
    width: 100%;
    position: fixed;
    margin-right: -2em;
    margin-left: -2em;
}

.navbar button {
    border: none; /* Det er så bootstrap burger menuen ikke har en border omkring vores burger menu. Som er designet i illustrator */
}

#menuicon {
    width: 50px; /* Ny burger menuicon designet på illustrator */
}

#logo {
    position: absolute;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
}

#home {
    background-color: blue;
    height: 300px;
    grid-area: home;
    margin-right: -2em;
    margin-left: -2em;
}

#softbites {
    background-color: #FBFBFB;
    height: auto;
    grid-area: produkt;
    padding-right: 2em;
    padding-left: 2em;
    background-image: url(framemobile1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#fordele {
    list-style: disc;
    margin-left: 2em;
}

.godepointer {
    padding-bottom: 0.8em;
}

#relaterede {
    background-color: #FBFBFB;
    height: 100px;
    grid-area: relaterede;
    margin-right: -2em;
    margin-left: -2em;
}

#training {
    background-color: #FBFBFB;
    height: auto;
    grid-area: training;
    padding-right: 2em;
    padding-left: 2em;
    background-image: url(framemobile1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#apport {
    background-color: #FBFBFB;
    height: auto;
    grid-area: apport;
    margin-right: -2em;
    margin-left: -2em;
    
}

#howtosit {
    margin-left: 2em;
}

#trivsel {
    background-color: #FBFBFB;
    height: 300px;
    grid-area: trivsel;
    padding-right: 2em;
    padding-left: 2em;
    background-image: url(framemobile1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #75C6AB;
    height: 100px;
    margin-right: -2em;
    margin-left: -2em;
    grid-area: footer;
}

/*
#whiteborder {
    border: 8px solid white;
    margin-right: 40px;
    margin-left: 40px;
}

#turkisborder {
    border: 4px solid #75C6AB;
}
*/

/* GRID(S) TIL MOBILE */
#pagewrap {
    grid-template-columns: 1fr;
    grid-template-areas: 
        "globalmenu"
        "home"
        "produkt"
        "training"
        "apport"
        "trivsel"
        "footer";
}


/* GRID(S) TIL TABLET */
@media screen and (min-width: 720px) {
        #pagewrap {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "globalmenu"
            "home"
            "produkt"
            "training"
            "apport"
            "trivsel"
            "footer";
    }
  
    /*
    #relaterede {
        margin-right: -72px;
        margin-left: -72px;
    }
    
    #apport {
        margin-right: -72px;
        margin-left: -72px;
    }
    
    #whiteborder {
        margin-right: 70px;
        margin-left: 70px;
    }
    */
    
    #softbites {
    background-image: url(frameframe1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#training {
    background-image: url(frameframe1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    
#trivsel {
    background-image: url(frameframe1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    
}


/* GRID(S) TIL DESKTOP */
@media screen and (min-width: 1280px) {
        #pagewrap {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "globalmenu"
            "home"
            "produkt"
            "training"
            "apport"
            "trivsel"
            "footer";
    }
    /*
    #apport {
        margin-right: -82px;
        margin-left: -82px;
    }
    
    
    #relaterede {
        margin-right: -82px;
        margin-left: -82px;
    }
    
    #whiteborder {
        margin-right: 70px;
        margin-left: 70px;
    }
    */
    
}
