/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}
/* END RESET */


/* Styling */
.menu {
    background-color: red;
    height: 300px;
    grid-area: globalmenu;
}

.home {
    background-color: blue;
    height: 300px;
    grid-area: home;
}

.softbites {
    background-color: green;
    height: 300px;
    grid-area: produkt;
}

.relaterede {
    background-color: greenyellow;
    height: 100px;
    grid-area: relaterede;
    margin-left: -52px;
    margin-right: -52px;
}

.training {
    background-color: gray;
    height: 300px;
    grid-area: training;
}

.apport {
    background-color: pink;
    height: 300px;
    grid-area: apport;
    margin-left: -52px;
    margin-right: -52px;
}

.trivsel {
    background-color: yellow;
    height: 300px;
    grid-area: trivsel;
}

footer {
    background-color: purple;
    height: 300px;
    grid-area: footer;
}


/* Borders til sectionerne */
#whiteborder {
    border: 8px solid white;
    margin-right: 40px;
    margin-left: 40px;
}

#turkisborder {
    border: 4px solid #75C6AB;
}





/* GRID(S) TIL MOBILE */
#pagewrap {
    grid-template-columns: 1fr;
    grid-template-areas: 
        "globalmenu"
        "home"
        "produkt"
        "relaterede"
        "training"
        "apport"
        "trivsel"
        "footer";
}



/* GRID(S) TIL TABLET */
@media screen and (min-width: 720px) {
        #pagewrap {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "globalmenu"
            "home"
            "produkt"
            "relaterede"
            "training"
            "apport"
            "trivsel"
            "footer";
    }
    
    #whiteborder {
        margin-right: 60px;
        margin-left: 60px;
    }
    
    #relaterede {
        margin-right: -72px;
        margin-left: -72px;
    }
    
    #apport {
        margin-right: -72px;
        margin-left: -72px;
    }
}




/* GRID(S) TIL DESKTOP */
@media screen and (min-width: 1280px) {
        #pagewrap {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "globalmenu"
            "home"
            "produkt"
            "relaterede"
            "training"
            "apport"
            "trivsel"
            "footer";
    }
    
    #whiteborder {
        margin-right: 70px;
        margin-left: 70px;
    }
    
    #relaterede {
        margin-right: -82px;
        margin-left: -82px;
    }
    
    #apport {
        margin-right: -82px;
        margin-left: -82px;
    }
}