/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}
/* END RESET */


/* Behaviour */

html {
    scroll-behavior: smooth;
}

.menu {
    grid-area: globalmenu;
    background-color: #75C6AB;

}


/* Styling */
h1, h2, h3, h4, h5, h6 {
    font-family: franklin gothic;
    font-weight: bold;
    color: #0C145D;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

p, li {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(big%20boy%20paws1.png);
    margin-left: 2em;
    margin-right: 2em;
}

header {
    width: 100%;
    position: fixed;
    margin-right: -2em;
    margin-left: -2em;
    z-index: 1;
}

.navbar button {
    border: none; /* Det er så bootstrap burger menuen ikke har en border omkring vores burger menu. Som er designet i illustrator */
}

#menuicon {
    width: 50px; /* Ny burger menuicon designet på illustrator */
}

#logo {
    position: absolute;
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#home {
    height: auto;
    grid-area: home;
    margin-right: -2em;
    margin-left: -2em;
}

#forsidemobil {
    width: 100%;
}

#hundforside {
    display: none;
}

#softbites {
    background-color: #FBFBFB;
    height: auto;
    grid-area: produkt;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    background-image: url(framemobile1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#softbites h1 {
    text-align: center;
}

.tekstsoftbites {
    position: relative;
    top: 20%;
}

#softbitespose {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
}

#buynow {
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    background-color: orange;
    border: 2px solid black;
    font-weight: 500;
    width: 150px;
    height: 60px;
}

#buynow {
    position: relative;
    left: 100%;
    transform: translateX(-50%);
}

#buynow:active {
    background-color: white;
    color: orange;
    border: 4px solid orange;
    font-weight: 800;
}


#fordele {
    list-style-image: url(potelist.png);
    margin-left: 2em;
}

#fordelecontainer {
    top: 15%;
    position: relative;
}

.godepointer {
    padding-bottom: 0.8em;
}

#grocery {
    display: inline-flex;
    list-style: none;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}

#grocerycontainer h3 {
    text-align: center;
    margin-bottom: 0.4em;
}

#minkomandimg {
    width: 100%;
}

#sparimg {
    width: 100%;
}

#menyimg {
   width: 100%; 
}

#letkobimg {
   width: 100%; 
}

#relaterede {
    text-align: center;
    background-image: url(no%20bg%20paw.png);
    background-size: contain;
    height: auto;
    grid-area: relaterede;
    margin-right: -2em;
    margin-left: -2em;
}

#relaterede h2 {
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

.produkterne {
    list-style: none;
    display: inline-flex;
}

#denta {
    width: 60%;
    
}

#denta:active {
    width: 65%;
}

#mixed {
    width: 60%;
    
}

#mixed:active {
    width: 65%;
}

#strips {
    width: 60%;
}

#strips:active {
    width: 65%;
}

#training {
    background-color: #FBFBFB;
    height: auto;
    grid-area: training;
    padding-right: 2em;
    padding-left: 2em;
    background-image: url(framemobile1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#training h {
    position: relative;
    left: 50%;
    transform: translateX();
}

#training img {
    grid-area: imgtraining;
    max-width: 100%;
    height: auto;
}

#training div {
        grid-area: teksttraining;
    }

#apport {
    background-image: url(header_teach_sit-flip.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 680px;
    grid-area: apport;
    margin-right: -2em;
    margin-left: -2em; 
}

#apport h2 {
    color: white;
}

#apport p {
    font-weight: 500;
    padding-bottom: 0.3em;
}

#tekstguide {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translateY(20%);
    padding: 1em;
}

#howtosit {
    margin-left: 2em;
}

.sitsteps {
    font-weight: 500;
    padding-bottom: 1em;
}


#trivsel {
    background-color: #FBFBFB;
    height: auto;
    grid-area: trivsel;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    background-image: url(framemobile1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: #75C6AB;
    height: 100px;
    margin-right: -2em;
    margin-left: -2em;
    grid-area: footer;
}

#overlap {
    position: relative;
}

#overlap img {
    position: absolute;
    height: 220px;
    bottom: 1px;
    margin-left: -7em
}


/* GRIDS TIL SEKTIONER */
#hundehighfive {
    max-width: 100%;
    height: auto;
    grid-area: hundeogejer;
}

#overskrifttiltrivsel {
    grid-area: trivseltitel;
}

.teksttrivsela {
    grid-area: teksttiltrivsela;
}

.teksttrivselb {
    grid-area: teksttiltrivselb;
}

#trivsel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "trivseltitel"
        "hundeogejer"
        "teksttiltrivsela"
        "teksttiltrivselb";      
}

#softbitespose {
    grid-area: pose;
}

.tekstsoftbites {
    grid-area: softbitetekst;
}

#fordelecontainer {
    grid-area: fordele;
}

#buynow {
    grid-area: buynow;
}

#grocerycontainer {
    grid-area: grocery;
}

#softbites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "softbitetekst softbitetekst"
        "fordele fordele"
        "pose pose"
        "buynow buynow"
        "grocery grocery";
}

#minkobmand {
    grid-area: minkobmand;
}

#spar {
    grid-area: spar;
}

#meny {
    grid-area: meny;
}

#letkob {
    grid-area: letkob;
}

#grocery {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "minkobmand spar"
        "meny letkob"
}


/* GRID(S) TIL MOBILE */
#pagewrap {
    grid-template-columns: 1fr;
    grid-template-areas: 
        "globalmenu"
        "home"
        "produkt"
        "training"
        "apport"
        "trivsel"
        "footer";
}


/* GRID(S) TIL TABLET */
@media screen and (min-width: 768px) {
        #pagewrap {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "globalmenu"
            "home"
            "produkt"
            "training"
            "apport"
            "trivsel"
            "footer";
    }
    
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    #forsidemobil {
    display: none;
    }
    
    #home {
        background-image: url(Cover%20flipped%20w%20text.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    #forsidemobil {
        display: none;
    }
    
    #hundforside {
        display: block;
        max-width: 40%;
        left: 60%;
        transform: translateY(-5%);
        height: auto;
        position: relative;
        z-index: 1;

    }
    
    #softbites {
    background-image: url(frameframe1.png);
    background-repeat: no-repeat;
    background-size: cover;
    }

    #training {
    background-image: url(frameframe1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 3em;
    }
    
    #teksttraining {
        margin-left: 1em;
    }
    
    #trivsel {
    background-image: url(frameframe1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3em;
    padding-top: 2em;
    }
    
    #training {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "teksttraining imgtraining";
    }
    
#apport {
    height: 600px;
    background-position: right;
    
}

#tekstguide {
    transform: translateY(40%);
    transform: translateX(140%);
    width: 40%;
    height: auto;
    padding-left: 2em;
}

    
#containertrivsel {
    grid-area: teksttrivsel;
    padding-left: 2em;
    padding-right: 1em;
    }
    
    #hundehighfive {
        padding-right: 1em;
    }
    
#trivsel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "teksttrivsel hundeogejer";          
}
    
    #denta {
    width: 45%;
    }

    #denta:active {
        width: 50%;
    }

    #mixed {
        width: 45%;
    }

    #mixed:active {
        width: 50%;
    }

    #strips {
        width: 45%;
    }

    #strips:active {
        width: 50%;
    }
    
    #relaterede {
        height: 100%;
    }
    
    #softbites {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "softbitetekst softbitetekst"
            "fordele pose"
            "fordel pose"
            "buynow buynow"
            "grocery grocery";
    }
    
    .tekstsoftbites h1{
        text-align: center;
    }
    
    .tekstsoftbites {
        position: relative;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 1em;
    }
    
    #fordelecontainer {
        position: relative;
        transform: translateX(-40%);
        left: 50%;
    }
    
    #buynow {
        height: 60px;
        position: relative;
        transform: translateX(-50%);
    }
    
    #grocerycontainer {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
    }
    
    #softbitespose {
        width: 100%;
        height: auto;
        position: relative;
        bottom: 20%;
    }
    
}


/* GRID(S) TIL DESKTOP */
@media screen and (min-width: 1280px) {
        #pagewrap {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "globalmenu"
            "home"
            "produkt"
            "training"
            "apport"
            "trivsel"
            "footer";
    }
    #apport {
        height: 800px;
        background-position: right;
    }

    #tekstguide {
        transform: translateX(170%);
        margin-top: 2em;
        width: 35%;
    }
    
#containertrivsel {
    grid-area: teksttrivsel;
    }
    
    #hundehighfive {
        padding-right: 3em;
    }
    
#trivsel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "teksttrivsel hundeogejer";          
}
    
    #containertrivsel {
        padding-left: 4em;
        padding-right: 1em;
    }
    
    #denta {
    width: 50%;
    }

    #denta:hover {
        width: 55%;
    }

    #mixed {
        width: 50%;
    }

    #mixed:hover {
        width: 55%;
    }

    #strips {
        width: 50%;
    }

    #strips:hover {
        width: 55%;
    }
    
    #relaterede {
        max-height: 100%;
    }
    
#softbites {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "softbitetekst softbitetekst"
            "fordele pose"
            "fordel pose"
            "buynow buynow"
            "grocery grocery";
    }
    
    .tekstsoftbites h1{
        text-align: center;
        font-size: 80px;
    }
    
    .tekstsoftbites {
        position: relative;
        width: 95%;
        transform: translateX(-50%);
        padding-bottom: 1em;
        font-size: 25px;
    }
    
    #fordelecontainer {
        position: relative;
        left: 50%;
        transform: translateX(-30%);
        font-size: 25px;
    }
    
    #buynow {
        height: 100px;
        width: 40%;
        position: relative;
        left: 50%;
        font-size: 25px;
        transform: translateX(-30%);
    }
    
    #buynow:hover {
        background-color: white;
        border: 4px solid orange;
        color: orange;
    }
    
    #softbitespose {
        position: relative;
        left: 50%;
        transform: translateX(-60%);
        max-width: 100%;
        height: auto;
        margin-top: 3em;
    }
    
    #grocerycontainer {
        width: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20%;
    }

    #containertrivsel {
        padding-left: 4em;
        padding-right: 1em;
    }
    
    body {
        padding-left: 4em;
        padding-right: 4em;
    }
    
    #home {
        margin-right: -6em;
        margin-left: -6em;
    }
    
    #relaterede {
        margin-right: -6em;
        margin-left: -6em;
    }
    
    #apport {
        margin-right: -6em;
        margin-left: -6em;;
    }
    
    footer {
       margin-right: -6em;
        margin-left: -6em; 
    }
    
    header {
        width: 100%;
        position: fixed;
        margin-right: -6em;
        margin-left: -6em;
        z-index: 1;
    }
    
    /* Font manipulation */
    h2 {
        font-size: 50px;
    }
    
    h3 {
        font-size: 35px;
    }
    
    #teksttraining {
        padding-left: 3em;
    }
    
    #apport li{
        font-size: 20px;
    }
    
    #apport p {
        font-size: 20px;
    }
    
}
